{{extend '../layout.html'}}
{{block 'content'}}
<div class="container-fluid">
  <div class="page-title">
    <h1>写文章</h1>
  </div>
  <!-- 有错误信息时展示 -->
  <!-- <div class="alert alert-danger">
    <strong>错误！</strong>发生XXX错误
  </div> -->
  <form class="row">

    <div class="col-md-9">
      <div class="form-group">
        <label for="title">标题</label>
        <input id="title" class="form-control input-lg" name="title" type="text" placeholder="文章标题">
      </div>

      <div class="form-group">
        <label for="content">内容</label>
        <textarea id="content" class="form-control input-lg" name="content" cols="30" rows="10"
          placeholder="内容"></textarea>
      </div>

    </div>

    <div class="col-md-3">

      <div class="form-group">
        <label for="slug">摘要</label>
        <input id="slug" class="form-control" name="desc" type="text" placeholder="slug">
      </div>

      <div class="form-group">
        <label for="feature">特色图像</label>
        <!-- show when image chose -->
        <img id="img" class="help-block thumbnail"  style="display: none">
        <input id="feature" class="form-control" multiple accept="image/*" name="feature" type="file">
      </div>
      <input type="hidden" name="pic" id="hidd">

      <div class="form-group">
        <label for="category">所属分类</label>
        <select id="category" class="form-control" name="category">
          <option value="">未选择</option>
          {{each arr}}
          <option value="{{$value.cate_id}}">{{$value.cate_name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="form-group">
        <label for="status">状态</label>
        <select id="status" class="form-control" name="status">
          <option value="草稿">草稿</option>
          <option value="已发布">已发布</option>
        </select>
      </div>
      <div class="form-group">
        <button id="btn" class="btn btn-primary" type="button">保存</button>
      </div>
    </div>
  </form>
</div>
{{/block}}
{{block 'js'}}
<script>
  //////////////文件上传
  $('#feature').change(function () {

    let url=URL.createObjectURL(this.files[0]);
    $('#img').attr('src',url);
    $('#img').removeAttr('style');
    
    let fd = new FormData();
    fd.append('avatar', this.files[0]);
    $.ajax({
      url: '/api/uploads',
      type: 'post',
      data: fd,
      processData: false,
      contentType: false,
      success: function (r) {
        // console.log(r);
        if (r.code == '200') {
          $('#hidd').val(r.path);
        } else {
          alert(r.message);
        }
      }
    })
  })
</script>
<script>
  /////////////////发布文章
  $('#btn').click(function () {
    $.ajax({
      url: '/api/post/addpost',
      type: 'post',
      data: $('form').serialize(),
      success: function (r) {
        // console.log(r);
        if (r.code == '200') {
          alert('添加成功！');
          location.href = '/admin/post/posts.html';
        }
      }
    })
  })
</script>
{{/block}}