{{extend './layout.html'}}

{{block 'content'}}
<div class="content">
  <div class="article">
    <div class="breadcrumb">
      <dl>
        <dt>当前位置：</dt>
        <dd><a href="javascript:;">{{wenzhang.cate_name}}</a></dd>
        <dd>{{wenzhang.article_title}}</dd>
      </dl>
    </div>
    <h2 class="title">
      <a href="javascript:;">{{wenzhang.article_text}}</a>
    </h2>
    <div class="meta">
      <span>{{wenzhang.admin_nickname}} 发布于 {{wenzhang.article_addtime}}</span>
      <span>分类: <a href="javascript:;">{{wenzhang.cate_name}}</a></span>
      <span>阅读: ({{wenzhang.article_click}})</span>
      <span>评论: (143)</span>
    </div>
   
    <p class="article_text">
      继炫腹，炫锁骨以后，城里人又现新技能:酒窝夹笔盖！<br />
      你们城里人活儿真好，又是反手摸肚脐炫腹，锁骨放硬币秀胸的，现在又来酒窝夹笔盖晒脸！别以为我不知道你们在想什么！！哼还让不让人活了
    </p>
  </div>

  <div class="panel hots">
    <h3>热门推荐</h3>
    <ul>
      {{each tj}}
      <li>
        <a href="/detail.html?id={{$value.article_id}}">
          <img src="{{$value.article_file}}" alt="">
          <span>{{$value.article_title}}</span>
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/block}}

{{block 'javascript'}}
{{/block}}