{{extend './layout.html'}}

{{block 'content'}}
<div class="content">
  <div class="swipe">
    <ul class="swipe-wrapper">
      {{each lunbotu}}
      <li>
        <a href="{{$value.pic_link}}">
          <img src="{{$value.pic_url}}">
          <span>{{$value.pic_text}}</span>
        </a>
      </li>
      {{/each}}
    </ul>
    <p class="cursor"><span class="active"></span><span></span><span></span><span></span></p>
    <a href="javascript:;" class="arrow prev"><i class="fa fa-chevron-left"></i></a>
    <a href="javascript:;" class="arrow next"><i class="fa fa-chevron-right"></i></a>
  </div>
  <div class="panel focus">
    <h3>焦点关注</h3>
    <ul>
      {{each guanzhu}}
      {{if $index==0}}
      <li class="large">
        {{else}}
      <li>
        {{/if}}
        <a href="/detail.html?id={{$value.article_id}}">
          <img src="{{$value.article_file}}" alt="">
          <span>{{$value.article_title}}</span>
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="panel top">
    <h3>一周热门排行</h3>
    <ol>
      {{each remen}}
      <li>
        <!-- 这个是复合条件的排行 index代表数组排列的下标-->
        <i>{{$index+1}}</i>
        <a href="/detail.html?id={{$value.article_id}}">{{$value.article_title}}</a>
        <a href="javascript:;" class="like">赞({{$value.article_good}})</a>
        <span>阅读 ({{$value.article_click}})</span>
      </li>
      {{/each}}
    </ol>
  </div>
  <div class="panel hots">
    <h3>热门推荐</h3>
    <ul>
      {{each tuijian}}
      <li>
        <a href="/detail.html?id={{$value.article_id}}">
          <img src="{{$value.article_file}}" alt="">
          <span>{{$value.article_title}}</span>
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="panel new">
    <h3>最新发布</h3>
    {{each fabu}}
    <div class="entry">
      <div class="head">
        <span class="sort">{{$value.cate_name}}</span>
        <a href="/detail.html?id={{$value.article_id}}">{{$value.article_title}}</a>
      </div>
      <div class="main">
        <p class="info">{{$value.admin_nickname}} 发表于 {{$value.article_addtime}}</p>
        <p class="brief">
            {{$value.article_text}}
        </p>
        <p class="extra">
          <span class="reading">阅读({{$value.cate_click}})</span>
          <!-- <span class="comment">评论(0)</span> -->
          <a href="javascript:;" class="like">
            <i class="fa fa-thumbs-up"></i>
            <span>赞({{$value.cate_good}})</span>
          </a>
          <a href="javascript:;" class="tags">
            分类：<span>{{$value.cate_name}}</span>
          </a>
        </p>
        <a href="javascript:;" class="thumb">
          <img src="{{$value.article_file}}" alt="">
        </a>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/block}}



{{block 'javascript'}}
<script src="assets/vendors/jquery/jquery.js"></script>
<script src="assets/vendors/swipe/swipe.js"></script>
<script>
  //
  var swiper = Swipe(document.querySelector('.swipe'), {
    auto: 3000,
    transitionEnd: function (index) {
      // index++;

      $('.cursor span').eq(index).addClass('active').siblings('.active').removeClass('active');
    }
  });

  // 上/下一张
  $('.swipe .arrow').on('click', function () {
    var _this = $(this);

    if (_this.is('.prev')) {
      swiper.prev();
    } else if (_this.is('.next')) {
      swiper.next();
    }
  })
</script>
{{/block}}